body {
    /*font-family: sans-serif;*/
    /*font-size: x-large;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bicycle h2 {
    text-align: center;
}

.bicycle .userCount {
    font-size: 20px;
    color: red;
}

.bicycle .result {
    font-size: x-large;
    text-align: center;
    margin-top: 5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
}

.bicycle .btn-bicycle {
    width: 100%;
}

/*span {*/
/*float: right;*/
/*}*/

.bicycle {
    /*position: absolute;*/
    /*!*width: 50%;*!*/
    /*!*padding-left: 8%;*!*/
    /*margin-left: 20%;*/
    margin-top: 20%;
}

